<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8", lang="gr-al">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Comic's Characters</title>
   
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class= "wrapper bg-image " style="background-image:  url('https://imgs.search.brave.com/DXwqEBU8S7Q32EK2ovwwihIT8n6isIVNUZCeWvnE5uU/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS12ZWN0b3Iv/ZmxhdC1kZXNpZ24t/YnJpZ2h0LWNvbWlj/cy13YWxscGFwZXJf/MjMtMjE0ODc5OTQw/Ni5qcGc_c2VtdD1h/aXNfaHlicmlkJnc9/NzQwJnE9ODA'); padding: 0px 0px 5px; " >

    <div class="jumbotron topJumb text-center" style="font-size: xxx-large;" >
        <a href= "pweb.html" class= "navbar-brand"></a> Comic's Characters</a>
    </div>
    <nav class="navbar"> 
            <div class="container-fluid  justify-content-center contNav">
            <a  href="../index.ejs"class="link-light link-offset-3 link-offset-3-hover link-underline-danger link-opacity-50 link-opacity-100-hover link-underline-opacity-0 link-underline-opacity-75-hover activ">Home</a>
            <a  href="." class="link-light link-offset-3 link-offset-3-hover link-underline-danger  link-opacity-50 link-opacity-100-hover link-underline-opacity-0 link-underline-opacity-75-hover ">News</a>
            <a  href="." class="link-light link-offset-3 link-offset-3-hover link-underline-danger  link-opacity-50 link-opacity-100-hover link-underline-opacity-0 link-underline-opacity-75-hover ">More</a>
        </div>
    </nav>